* {
  box-sizing: border-box;
}

body {
  margin: 60px;
}

#darklogo {
  float: left;
}

header > article > h3 {
  font-family: 'Yellowtail', cursive;
  font-size: 32px;
  font-weight: bold;
}

.grey {
  color: rgb(126, 124, 124);
}

header {
  height: 125px;
}

header > article > p {
  font-size: small;
}

#heading {
  float: left;
  margin-left: 6px;
}

nav {
  float: right;
}

nav img:nth-child(7) {
  margin-left: 10px;
}

div.slash {
  height: 10px;
  background: repeat;
  background-image: url(images/hr-img.png);
}

h1 {
  margin-top: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
}

#hero {
  width: 100%
}